.testimonialsMaster {
  padding: 4em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialsWrapper {
  width: 50%;
  height: min-content;
  padding: 2em 1em;
  border: 3px solid rgba(0, 0, 0, 0.65);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6em;
}

.chevronIcon {
  font-size: 2em;
  color: #555;
  /* width: 30px;
  height: 30px; */
}

.chevronIcon:hover {
  cursor: pointer;
}

.entryWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
